@using DAL
@using WEB.Models.Comement
@using WEB.Models.Post
@using WEB.Models.Tag
@model PostViewModel

@{
}

<div>
	<div style="border:1px solid gray; margin-bottom:5px; padding:5px;">
		<!--Title-->
		<div style="border-bottom:1px dashed gray">
			@Model.Title
			<span class="float-end me-1"> Дата </span>
		</div>
			
		<!--Text-->
		<div>@Model.Text</div>
	</div>

	
	<!--
	<div style="display:flex">
		
		<label for="tag" style="font-size:13px">Теги:</label>
		
		<form method="post" asp-controller="Post" asp-action="PostComment" style="width:100%">
			<input type="hidden" name="PostId" value=@Model.Id />
			<input type="text" name="Tag" class="form-control" style="height:20px" value=tempTag />
		</form>
	</div>
	-->
	
	<!-- Вывести список всех тегов -->
	
	@Html.Partial("~/Views/Comment/_Add.cshtml", new CommentViewModel() { PostId = Model.Id })

	@Html.Partial("~/Views/Comment/_All.cshtml")

</div>