@using Core.Models.Tag
@model AddTagViewModel

@{
}

<div>
	<form asp-controller="Tag" asp-action="Add">
		<div asp-validation-summary="ModelOnly"></div>

		<div>
			<input type="text" name="Name" class="form-control" />
		</div>

	</form>
</div>