<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/internal-nlog-AspNetCore.txt" >

	<variable name="logsDir" value="${basedir}/Logs"/>

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- запись только логов приложения -->
		<target xsi:type="File" name="appLogFile" fileName="${logsDir}\applog-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Запись всех системных событий -->
		<target xsi:type ="file" name="systemLogFile" fileName ="${logsDir}\systemlog-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target xsi:type="File" name="ownFile-web" fileName="${logsDir}\nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<!-- Пишем логи только нашего приложения -->
	<rules>
		<logger name="BLL.*" minlevel="Trace" writeTo="appLogFile" final="true" />
		<logger name="DAL.*" minlevel="Trace" writeTo="appLogFile" final="true" />
		<logger name="WEB.*" minlevel="Trace" writeTo="appLogFile" final="true" />
		
		<logger name="*" minlevel="Warn" writeTo="systemLogFile" />
	</rules>
</nlog>