@using Core.Models.Comement
@model CommentViewModel
@{
}
<!-- Форма Редактирования комментариев -->
<div>
	<form asp-controller="Comment" asp-action="Edit">
		<div asp-validation-summary="ModelOnly"></div>
		
		<input type="hidden" asp-for="PostId" />

		<div>
			<label asp-for="Text" class="form-label>">Комментарий</label>
			<input asp-for="Text" class="form-control" style="height:100px" />
			<span asp-validation-for="Text" class="text-danger"></span>
		</div>

		<div>
			<input type="submit" value="Отправить" class="btn btn-primary" />
		</div>
	</form>
</div>
