@using Core.Models.User
@model EditViewModel
@{
	ViewData["Title"] = "Редактирование профиля";
}

<div>
	<form method="post" asp-controller="User" asp-action="Edit">
		<div><h3>Редактирование пользователя</h3></div>

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div>
			<input type="hidden" asp-for="Id" class="form-control" />
		</div>

		<div>
			<label asp-for="Username" class="form-label">Логин</label>
			<input type="text" asp-for="Username" class="form-control" />
			<span asp-validation-for="Username" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="Password" class="form-label">Пароль</label>
			<input type="text" asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="FirstName" class="form-label">Имя</label>
			<input type="text" asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="LastName" class="form-label">Фамилия</label>
			<input type="text" asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="Picture" class="form-label">Пикча</label>
			<input type="text" asp-for="Picture" class="form-control" />
			<span asp-validation-for="Picture" class="text-danger"></span>
		</div>

		<input type="submit" value="Сохранить" class="btn btn-primary" />
	</form>
</div>
